@font-face {
    font-family: PublicSans-Thin;
    src: url(PublicSans/PublicSans-Thin.otf);
  }
@font-face {
    font-family: PublicSans-Regular;
    src: url(PublicSans/PublicSans-Regular.otf);
}
@font-face {
    font-family: PublicSans-Medium;
    src: url(PublicSans/PublicSans-Medium.otf);
}
@font-face {
    font-family: PublicSans-Bold;
    src: url(PublicSans/PublicSans-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 1fr auto;
    font-family: PublicSans-Regular;
}

.navbar{
    background-color: #EFE5DB;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}

.navbar .logo{
    font-size: 5rem;
    margin-top: 10px;
}


.navbar .menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar .menu li{
    background-color: #F8EFE7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
}

.content{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: stretch;
    min-height: 0;
    background-color: #FCF8F5;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 30px;
}

.content .profile{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #74685f;
}

.content .profile .profilePicture img{
    background-color: #EFE5DB;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.content .profile .welcomeText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .profile .welcomeText .hello{
    font-size: 4.5rem;
}

.content .profile .welcomeText p{
    font-size: 2.5rem;
}

.bookAdding{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    padding: 0 1.7vw;
}

.bookAdding #addBook, .deleteBookBtn, .changeStatus{
    background-color: #F8EFE7;
    color: #74685f;
    border-color: #c0b7af;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    font-family: PublicSans-Medium;
    padding: 1vh 0.5vw;
    font-size: 1.3rem;
    margin: 10px;
}

.deleteBookBtn{
    padding: 0.1vw;
}

.bookAdding #addBook:hover, .deleteBookBtn:hover, .changeStatus:hover{
    background-color: #c0b7af;
    color: #F8EFE7;
}

.bookAdding #addBook:active{
    background-color: #dbd2ca;
    color: #5f564f;
}

.bookFormBg{
    position: fixed;
    top: 0;                  
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.bookForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCF8F5;
}

.books{
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 2rem 2rem;
    border-radius: 5px;
    background-color: #EFE5DB;
    width: 100%;
    font-family: PublicSans-Medium;
}

.bookContainer{
    padding: 1rem;
    height: fit-content;
    text-align: center;
    text-wrap: wrap;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #b9ac9e;
    color: white;
}

.footer{
    background-color: #1f1e1e;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
